<div class="form-inner">
    @if (label) {
        <label>{{ label }} {{ required ? '*' : '' }}</label>
    }
    <input class=""
           type="{{isShowPassword ? 'text' : 'password'}}"
           placeholder="{{placeHolder}}"
           [name]="name"
           [disabled]="disabled"
           [value]="value"
           (input)="markAsChanged($event)"
           (blur)="markAsTouched()">
    <i class="bi bi-{{isShowPassword ? 'eye' : 'eye-slash'}}"
       (click)="isShowPassword = !isShowPassword"></i>
</div>
<pre>{{ control.errors | json }}</pre>
